@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">

    <h1>
        <i class="fa-solid fa-cookie-bite"></i>
        Welcome to SnackTrack
    </h1>

    <p>
        Track your favourite snacks around campus.
        Rate them, review them and never forget the best treats!
    </p>

    <a class="btn-primary"
       asp-controller="Snacks"
       asp-action="Index">

        <i class="fa-solid fa-list"></i>
        View Snacks

    </a>

</div>